:root{
  --mainOpacity: rgba(0, 0, 0, 0.55);
}

.main-color {
  background-color: #0e76a8 ;
}

.divautosave {
  position: relative;
  padding: 0;
  margin: 0;
}

.iautosave {
  position: absolute;
  /*display: none;*/
  bottom: 6px;
  right: 10px;
}

.hoverable:hover {
  background: #f3f3f3;
}